<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.infra.code.CodeDao">

	<resultMap id="resultMapObj" type="com.example.demo.infra.code.CodeDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT a.seq  xcodeGroupSeq
     		 , a.name xcodeGroupName
     		 , b.delNy
     		 , b.seq
     		 , b.name
     		 , b.modDateTime
  		  FROM commongroup a
       		   LEFT JOIN commoncode b
              		  ON b.commonGroup_seq = a.seq
        WHERE 1 = 1		
	</select>

</mapper>