<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.infra.codegroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.example.demo.infra.codegroup.CodeGroupDto"></resultMap>

    <select id="selectList" resultMap="resultMapObj">
        SELECT a.seq
			 , a.name
			 , a.regDateTime
			 , a.modDateTime
			 , a.delNy
			 , (SELECT COUNT(*) 
			      FROM commoncode aa 
			     WHERE aa.commonGroup_seq = a.seq 
			       AND aa.delNy = 0
			   ) xcodeCount
          FROM commongroup a
         WHERE 1=1
         ORDER BY a.seq DESC
    </select>
	  
</mapper>