<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeGroupView</title>
</head>
<body>
	<form action="codeGroupDelete" method="post">
		<div>
			순번<br>
			<input type="text" name="seq" th:value="${item.seq}" readonly>
		</div>
		<br>
		<div>
			그룹명<br>
			<input type="text" name="name" th:value="${item.name}" readonly>
		</div>

		<br>
		<button>
			<a th:href="@{/codeGroupXdmList}" th:text="이전" style="text-decoration: none;"></a>
		</button>
		
		<button>
			<a th:href="@{/codeGroupModify(seq=${item.seq})}" th:text="수정" style="text-decoration: none;"></a>
		</button>
		
		<button type="submit">자료삭제(delete)</button>
	</form>
	
	<br>
	<br>
	<br>
	
	<form action="codeGroupUpDelete" method="post">
		<div>
			순번<br>
			<input type="text" name="seq" th:value="${item.seq}" readonly>
		</div>
		<br>
		<div>
			그룹명<br>
			<input type="text" name="name" th:value="${item.name}" readonly>
		</div>

		<br>
		
		<button type="submit">삭제변경(update)</button>
	</form>	
	
	<br>
	<br>
	<br>
	
	<form action="codeGroupUpInsert" method="post">
		<div>
			순번<br>
			<input type="text" name="seq" th:value="${item.seq}" readonly>
		</div>
		<br>
		<div>
			그룹명<br>
			<input type="text" name="name" th:value="${item.name}" readonly>
		</div>

		<br>
		
		<button type="submit">삭제복원(update)</button>
	</form>	
</body>
</html>
